@page "{id}"
@model ZelisTrainingRazorWebApp.Pages.Technologys.DetailsModel

<h2>Technology Details</h2>
<p><strong>ID:</strong> @Model.Technology.TechnologyId</p>
<p><strong>Name:</strong> @Model.Technology.Name</p>
<p><strong>Level:</strong> @Model.Technology.Level</p>
<p><strong>Duration:</strong> @Model.Technology.Duration days</p>
<a href="/Technologys/Index">Back to List</a>
